annotated-types==0.7.0
anyio==4.8.0
backcall==0.2.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
crcmod==1.7
cycler==0.12.1
debtcollector==3.0.0
decorator==5.1.1
dnspython==1.16.0
eventlet==0.30.2
fastapi==0.115.11
fonttools==4.56.0
greenlet==3.1.1
grpcio==1.70.0
grpcio-tools==1.71.0
h11==0.14.0
httptools==0.6.4
idna==3.10
ipython==7.31.1
jedi==0.17.2
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mininet==2.3.0.dev6
msgpack==1.1.0
netaddr==1.3.0
networkx==3.4.2
nnpy==1.4.2
numpy==2.2.3
oslo.config==9.7.0
oslo.i18n==6.5.0
ovs==3.4.1
p4runtime-shell @ file:///home/p4/p4runtime-shell
packaging==24.1
parso==0.7.1
pbr==6.1.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
ply==3.11
prometheus_client==0.21.1
prompt_toolkit==3.0.48
protobuf==5.29.3
psutil==6.1.0
ptf @ file:///home/p4/ptf
ptyprocess==0.7.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.18.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
repoze.lru==0.7
requests==2.32.3
rfc3986==2.0.0
Routes==2.5.1
ryu==4.34
scapy==2.5.0
setuptools==67.6.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.46.0
stevedore==5.4.0
thrift==0.16.0
tinyrpc==1.1.7
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
watchfiles==1.0.4
wcwidth==0.2.13
WebOb==1.8.9
websockets==15.0.1
wheel==0.44.0
wrapt==1.17.2
