.page-container {
    display: flex;
    flex-direction: column;
}

.page-header {
    margin: 10px;
    border: 2px solid black;
}

.content-container {
    display: flex;
    width: 100%;
    height: auto;
}

.content-list {
    margin: 10px;
    width: 30%;
    height: auto;
    border: 2px solid black;
}

.content-list li {
  cursor: pointer;
}

.content-display-box {
    width: 70%;
    height: auto;
    margin: 10px;
    border: 2px solid black;
}
